/*    Universal Styles    */
html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: hsla(360, 100%, 100%, 1);
}
/*    Color Palete chosen for my projects   */
colors {
  color: hsl(208, 50%, 19%);  /* Header h2, a    */
  color: hsla(204, 49%, 14%, 1);  /* , h1 */
  color: hsla(198, 12%, 78%, 1);  /* Nav Hover, info:hover, .courses */ 
  color: hsla(22, 23%, 29%, 1);   /*  h3, h4, span firstchild */
  color: hsla(203, 31%, 57%, 1);  /* span btn-background, main-back     */
} 
/* To make my code shorter I have chosen to create the following, three different class selectors for the use of flex, inline-flex and inline-flex with flex-direction column. */
/*    normal flex   */
.flex {
  display: flex;
}
/*    Inline-flex align center    */
.iflex {
  display: inline-flex;
  align-items: center;
}
/*    Inline flex align center with flex-direction column   */
.iflexcol {
  display: inline-flex;
  flex-direction: column;
}

body {
  background-color: hsla(360, 100%, 100%, 1);
  transition: all 350ms linear 1ms;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  color: hsla(204, 49%, 14%, 1);
}
h2 {
  font-size: 2rem;
  font-weight: 900;
  color: hsla(207, 49%, 19%, 1);
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.125rem;
  font-weight: 700;
}
h3, h4 {
  color: hsla(22, 23%, 29%, 1);
}

/*    Header and Nav-bar    */
header {
  height: 4rem;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  background-color: hsla(204, 49%, 14%, 1);
}
.logo {
  margin-left: 1.5rem;
  width: 25%;
}
.logo img{
  height: 3.5rem;
}
.logo div span {
  font-size: 2rem;
  font-weight: 200;
  color: hsl(203, 31%, 57%, 1);
}
.logo div span:first-child {
  font-weight: 900;
  color: hsla(22, 23%, 29%, 1);
  text-shadow: hsla(360, 100%, 100%, 1) 3px 0px 2px;
}
.navigation {
  justify-content: flex-end;
  margin-right: 1.5rem;
}
.desktop li {
  margin: 0 1rem;
  font-size: 1.2rem;
}
.desktop li:hover {
  background-color: hsla(198, 12%, 78%, 1);
  padding: 0.3rem 0.4rem;
  border-radius: 10%;
}
.desktop li:active {
  position: relative;
  top: 0.1rem; 
}  
.navigation-2 {
  display: none;
}

/*    Media screens     */

/*    max-width: 930px    */
@media only screen and (max-width: 930px) {
  .logo {
    width: 10%;
  }
  .desktop li {
    font-size: 1rem;
  }
  .logo div span {
    font-size: 1.2rem;
  }
}
/*    max-width: 670px    */
@media only screen and (max-width: 670px) {
  .logo div span {
    display: none;
  }
}
/*    max-width: 670px    */
@media only screen and (max-width: 540px) {
  .desktop li {
    font-size: 0.9rem;
  }
}
/*    max-width: 480px    */
@media only screen and (max-width: 480px) {
  .header {
    max-width: 100%;
  }
  .navigation, .logo {
    display: none;
  }
  .navigation-2 {
    display: inline-flex;
    width: 100%;
    justify-content: center;
  }
  .navigation-2 .mobile {
    width: 90%;
    justify-content: space-between;
  }
  .navigation-2 .mobile li {
    justify-content: flex-end;
    align-items: center;
    width: 3rem;
  }
  .navigation-2 .mobile li:active {
    position: relative;
    top: 0.1rem; 
  }
  .navigation-2 .mobile img {
    height: 2.7rem;
    opacity: 1;
    transition: .1s ease;
    backface-visibility: hidden;
  }
  .navigation-2 .mobile li .img-description {
    transition: .1s ease;
    opacity: 0;
    position: absolute;
    text-align: center;
  }
  .navigation-2 .mobile li:hover .image {
    opacity: 0.3;
  }
  .navigation-2 .mobile li:hover .img-description {
    opacity: 1;
    text-shadow: hsla(203, 31%, 57%, 1) 1px 1px 1px;
  }
}


/*    Banner    */

.banner {
  position: relative; /* to comprehend for the fixed header */
  top: 4rem;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

/*    Banner image    */
.image {
  width: 60%;
  padding: 2rem 1.5rem;
}
.image img {
  height: 100%;
  width: 100%;
  }

/*    Banner Content    */

.banner-content {
  height: 100%;
  width: 40%;
}
.learn {
  width: 75%;
}
.learn h2 {
  margin: 1.75rem 0rem;
}
.btn {
  text-align: center;
  padding: 0.5rem 0;
  width: 100%;
  color: hsla(360, 100%, 100%, 1);
  background-color: hsla(203, 31%, 57%, 1);
}
.btn:hover {
  background-color: hsla(204, 49%, 14%, 1);
}
.btn:active {
  position: relative;
  top: 0.1rem; 
} 

/*    Media Screens for Banner    */

/*    max-width: 930px    */
@media only screen and (max-width: 930px) {
  .learn h1 {
    font-size: 2rem}
  .learn h2 {
    font-size: 1.5rem}
}
/*    max-width: 730px    */
@media only screen and (max-width: 730px) {
  .learn h1 {
    font-size: 1.7rem}
  .learn h2 {
    font-size: 1.2rem}
}
/*    max-width: 690px    */
@media only screen and (max-width: 690px) {
  .learn h1 {
    font-size: 1.4rem}
  .learn h2 {
    font-size: 1rem}
}
/*    max-width: 480px    */
@media only screen and (max-width: 480px) {
  .banner {
    flex-direction: column;
    margin-top: 2rem;
    align-content: center;
    top: 2rem; /* to comprehend for the fixed header */
  }  
  .image, .banner-content {
    width: 100%;
  }
  .image {
    padding: 0;
  }
  .banner-content  {
    margin-top: 0;
    padding: 2rem 0rem;
    align-items: center;
  }
}

/*    Main Section    */

.main {
  margin-top: 2rem;
  padding-top: 3rem;
  height: 40rem;
  align-items: flex-start;
  background-color: hsla(203, 31%, 57%, 1);
}
/*    Media Screens for Main    */

/*    min-width 511 and max-width: 730px    */
@media only screen and (min-width: 481px) and (max-width: 730px) {
  .main {
    padding-bottom: 4rem;
  }
}
/*    max-width: 480px    */
@media only screen and (max-width: 480px) {
  .main {
    margin: 2rem 0 2rem 0;
    height: auto;
  }
}
/*    Left side of Main   */
.left {
  width: 60%;
  height: 100%;
  padding: 1rem 0 0 1rem;
}
.left img {
  width: 100%;
  height: auto;
  border: 0.3rem solid hsla(360, 100%, 100%, 1);
}
.left-content {
  padding: 2rem 0 0 0;
}
.left-content p {
  padding: 1rem 0;
}
.ema {
  font-weight: 900;
}

/*    Media Screens for left    */

/*    max-width: 480px    */
@media only screen and (max-width: 480px) {
  .left {
  display: none;
  }
}

/* Right side of Main */
.right {
  width: 40%;
  margin: 1rem 0 0 1.5rem;
}
.info {
  padding: 1rem 0rem;
  max-height: 100%;
}
.info img {
  width: 35%;
  height: auto;
  border: 0.2rem solid hsla(360, 100%, 100%, 1);
}
.mobile-img {
  display: none;
}
.right .info:first-child {
  padding-top: 0;
}
.right .info:hover, .right .info:hover img {
  background-color: hsla(198, 12%, 78%, 1);
  opacity: 0.85;
}
.right .info:active {
  position: relative;
  top: 0.1rem; 
} 
.information {
width: 65%;
height: 100%;
padding-left: 1rem;
justify-content: center;
}
.information p {
padding: 0.5rem 0rem;
}
.information a {
text-decoration: none;
color: hsla(207, 49%, 19%, 1);
}
.information a:active {
  position: relative;
  top: 0.1rem; 
} 

/*    Media Screens for Rigt side of Main     */

/*    max-width: 730px    */
@media only screen and (max-width: 730px) {
  .info {
    flex-direction: column;
    padding: 0;
    align-items: flex-start;
  }
  .desktop-img {
    display: none;
  }
  
  .info .mobile-img {
    display: block;
    width: 95%;
    justify-self: center;
  }
  .information  {
    padding: 0.5rem 0;
  }
  
}

/*    max-width: 480px    */
@media only screen and (max-width: 480px) {
  .right, .info, .info .mobile-img, .information {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }
  .info img {
    border-left: none;
    border-right: none;
  }
  .information  {
    padding: 4rem 0 2rem 0;
  }
  .information h4, .information p, .information a {
    padding: 0 1rem 0 2rem;
  }
  .information p {
    margin: 1rem 0;
  }
}


/*    Courses Section   */
.courses {
  align-items: center;
  background-color: hsla(198, 12%, 78%, 1);
}
.courses h2 {
  margin-top: 2rem;
  font-weight: 900;
}
.boxes {
  flex-wrap: wrap;
  padding: 2rem 2rem;
}
.box-mobile {
  display: none;
}
.box {
  width: 28%;
  margin: 1rem 1rem;
  border: 0.2rem solid hsla(360, 100%, 100%, 1);
}
.box:hover, .box:hover .box-content {
  border: 0.2rem solid hsla(203, 31%, 57%, 1);
  background-color: hsla(203, 31%, 57%, 0.8);
} 
.box:hover img {
  opacity: 0.8;
}
.box:active {
  position: relative;
  top: 0.1rem; 
} 
.box img {
  width: 100%;
  height: auto;
}
.box-content {
  padding: 1rem 1rem 1.5rem 1rem;
  background-color: hsla(203, 31%, 57%, 1);
  justify-content: center;
  height: 6.25rem;
}
.box-content h5 {
  margin: 0.5rem 0;
}
.box-content i {
  height: 1rem;
}

/*    Media screens   */

/*
With the many boxes in the 
courses section, I have added some
extra max-withs to make the box-wrap
smoother */

/*    max-width: 1126px    */
@media only screen and (max-width: 1126px) {
  .boxes {
    justify-content: center;
    padding: 2rem 2rem;
  }
  .box {
    width: 27%;
  }
}

/*    max-width: 930px    */
@media only screen and (max-width: 930px) {
  .box-content h4, .box-content h5, .box-content p {
    font-size: 0.9rem;
  }
  .box-content {
    padding: 0.2rem;
    height: 7.5rem;
  }
  .box {
    width: 40%;
  }
}

/*    max-width: 645px    */
@media only screen and (max-width: 645px) {
  .box {
    width: 70%;
  }
}
/*    max-width: 480px    */
@media only screen and (max-width: 480px) {
  .courses {
    background-color: hsla(360, 100%, 100%, 1);
    width: 100%;
    height: auto;
  }
  .courses h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
    font-weight: 900;
  }
  .boxes {
    display: none;
  }
  .box-mobile {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0;
    margin-bottom: 2rem;
    transition: all 0ms linear 0ms;
  }
  .box-mobile .box-content-mobile {
    justify-content: center;
    width: 90%;
    padding: 0;
    background-color: hsla(203, 31%, 57%, 1);
    margin: 0.25rem;
  }
  .box-mobile .box-content-mobile h4 {
    height: 100%;
    margin: 1rem 1rem 1.5rem 1rem;
    font-size: 1.8rem;
    text-shadow: hsla(360, 100%, 100%, 1) 2px 2px 2px;
  }
  .box-content-mobile:active {
    position: relative;
    top: 0.1rem; 
    right: 0.2rem;
  } 
  .fa-pen-fancy, .fa-paint-brush, .fa-desktop, .fa-digital-tachograph, .fa-user-tie, .fa-bullhorn {
    align-self: center;
    color: hsla(22, 23%, 29%, 1);
    text-shadow: hsla(360, 100%, 100%, 1) 2px 2px 2px;
  }
}


/*    Exhibit Section   */
.exhibit h2 {
  padding: 2rem 0;
  align-self: center;
}
.thesis {
  width: 100%;
  height: 100%;
}

/*    Left Section    */
.thesis-left {
  width: 60%;
  height: 100%;
  padding: 0 1.5rem 2rem 1.5rem;
}
video {
  margin: 0 1.5rem 1.5rem 1.5rem;
  width: 100%;
  height: auto;
  align-self: center;
}
.thesis-left h3 {
  margin-top: 0.5rem;
}
.thesis-left p {
  padding: 1rem 2rem 0 0;
  color: hsla(203, 31%, 57%, 1);
}

    /* Right Section */
.thesis-right {
  width: 40%;
  height: 100%;
  align-self: flex-start;
  margin-top: 1rem;
}
.thesis-box img {
  width: 35%;
  height: auto;
  margin: 1rem 1rem;
  border: 0.2rem solid hsla(360, 100%, 100%, 1);
}
.thesis-box {
  border: 1px solid hsla(203, 31%, 57%, 1);
}
.thesis-box p {
  color: hsla(208, 50%, 19%, 1);
  padding-top: 1rem;
}
.thesis-box:hover {
  background-color: hsla(203, 31%, 57%, 1);
}
.thesis-box:active {
  position: relative;
  top: 0.1rem; 
} 
.thesis-box-content {
  width: 65%;
}
/*    Media Screens for Thesis    */

/*    max-width: 930px    */
@media only screen and (max-width: 930px) {
  .thesis-box-content h3 {
    font-size: 1.1rem;
  }
  .thesis-box-content p {
    font-size: 0.9rem;
  }
}

/*    min-width: 481 to max-width: 929px    */
@media only screen and (min-width: 481px) and (max-width: 929px) {
  .thesis {
    
    border: 1px solid red;
  }
  
  .thesis-left {
    border: 1px solid pink;
  }

  .thesis-right {
  
    border: 1px dotted green;
  }
  .thesis-box {
    aborder: 1px dotted yellow;
  }
}


/*    max-width: 480px    */
@media only screen and (max-width: 480px) {
  .thesis-right, .thesis-left h3, .thesis-left p {
    display: none;
  }
  .thesis-left {
    width: 100%;
    padding: 0rem;
  }
  .thesis-left video {
    margin: 0rem;

  }
}


/*    Footer  */
footer {
  height: 4rem;
  border-top: 1px solid hsla(207, 49%, 19%, 1);
  justify-content: space-between;
}
footer div {
  padding: 1rem 1.5rem;
  color: hsla(207, 49%, 19%, 1);
}
footer div a {
  text-decoration: none;
  color: hsla(207, 49%, 19%, 1);
}
/*    Media screens for footer    */
@media only screen and (max-width: 510px) {
  footer div {
    margin-top: 1.5rem;
    padding: 1rem 1rem;
  }
  .termsandprivacy {
    display: none;
  }
}

