/* Universal Styles */
html {
font-size: 16px;
font-family: "Roboto", sans-serif;
font-weight: 100;
color: hsla(198, 0%, 43%, 1);
}

/* To make my code shorter I have chosen to create the following, three different class selectors for the use of flex, inline-flex and inline-flex with flex-direction column. */
/*  normal flex */
.flex {
  display: flex;
}

/* Inline-flex align center */
.iflex {
display: inline-flex;
align-items: center;
}

/* Inline flex align center with flex-direction column */
.iflexcol {
display: inline-flex;
flex-direction: column;
}

body {
background-color: hsla(360, 100%, 100%, 1);
transition: all 350ms linear 100ms;
}
h1, h2, h3, h4 {
color: hsla(198, 1%, 19%, 1);
}

h1 {
font-size: 3rem;
font-weight: 900;
}
h2 {
font-size: 2rem;
font-weight: 900;
}
h3 {
font-size: 1.75rem;
}
h4 {
font-size: 1.125rem;
font-weight: 700;
}


/*    Header and Nav-bar   */
header {
  height: 4rem;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  background-color: hsla(360, 100%, 100%, 1);
}
.logo {
  margin-left: 1.5rem;
  width: 25%;
}
.logo img{
  height: 3.5rem;
}
.logo div span {
  font-size: 2rem;
}
.logo div span:first-child {
  font-weight: 900;
  color: hsla(360, 0%, 0%, 1);
}
.navigation {

  justify-content: flex-end;
  margin-right: 1.5rem;
}
.desktop li {
  margin: 0 1rem;
  font-size: 1.2rem;
}
.desktop li:hover {
  color: hsla(360, 100%, 100%, 1);
  background-color: hsla(180, 1%, 39%, 0.9);
  padding: 0.3rem 0.4rem;
  border-radius: 10%;
}
.desktop li:active {
  position: relative;
  top: 0.1rem; 
}  
.navigation-2 {
  display: none;
}
/*    Media screens     */
@media only screen and (max-width: 930px) {
  .desktop li {
    font-size: 1rem;
  }

  @media only screen and (max-width: 930px) {
  .logo div span {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 670px) {
  .logo div span {
    display: none;
  }
}
}
@media only screen and (max-width: 510px) {

  .header {
    max-width: 100%;
  }
  .navigation, .logo {
    display: none;
  }
  .navigation-2 {
    display: inline-flex;
    width: 100%;
    justify-content: center;
  }
  .navigation-2 .mobile {
    width: 90%;
    justify-content: space-between;
  }
}

/* Banner */

.banner {
position: relative;  /* to comprehend for the fixed header */
top: 4rem;
background-color: hsla(198, 1%, 82%, 0.7);
align-items: center;
}

/* Banner image  */
.image {
width: 60%;
padding: 2rem 1.5rem;
}
.image img {
height: 100%;
width: 100%;
}

/* Banner Content */

.banner-content {
height: 100%;
width: 40%;
}
.learn {
width: 75%;
}
.learn h2 {
margin: 1.75rem 0rem;
}
@media only screen and (max-width: 930px) {
  .learn h1 {
    font-size: 2rem}
    .learn h2 {
      font-size: 1.5rem}
}
@media only screen and (max-width: 690px) {
  .learn h1 {
    font-size: 1.5rem}
    .learn h2 {
      font-size: 1rem}
}

.btn {
text-align: center;
padding: 0.5rem 0;
width: 100%;
color: hsla(360, 100%, 100%, 1);
background-color: hsla(198, 1%, 24%, 1);
}
.btn:active {
  position: relative;
  top: 0.1rem; 
} 

@media only screen and (max-width: 510px) {
    .banner {
      flex-direction: column;
      margin-top: 2rem;
      align-content: center;
    }
    .image, .banner-content {
      width: 100%;
  }
    .image {
      padding: 0;
    }
    .banner-content  {
      margin-top: 0;
      padding: 2rem 0rem;
      align-items: center;
  }
}

/* Main Section  */

.main {
margin: 2rem 0 0 1.5rem;
padding-top: 3rem;
height: 40rem;
align-items: flex-start;
}
/*    Media Screens for Main    */
@media only screen and (max-width: 510px) {
  .main {
    margin: 2rem 0 3rem 0;
    height: auto;
  }
}
  /* Left side of Main */
.left {
width: 60%;
height: 100%;
padding-top: 1rem;
}
.left img {
width: 100%;
height: auto;
}
.left-content {
padding: 2rem 0 0 0;
}
.left-content p {
  padding: 1.5rem 0;
}
.ema {
  font-weight: 900;
}

/*    Media Screens for left     */
@media only screen and (max-width: 510px) {
  .left {
  display: none;
  }
}

/* Right side of Main */
.right {
width: 40%;
margin: 1rem 0 0 1.5rem;
}
.info {
padding: 1rem 0rem;
max-height: 100%;
}
.info img {
width: 35%;
height: auto;
}
.mobile-img {
  display: none;
}
.right .info:first-child {
  padding-top: 0;
}
.right .info:last-child {
background-color: hsla(198, 1%, 82%, 0.7);

}
.information {
width: 65%;
height: 100%;
padding-left: 1rem;
justify-content: center;
}
.information p {
padding: 0.5rem 0rem;
}
.information a {
text-decoration: none;
color: hsla(198, 62%, 44%, 1);
}

.information a:active {
  position: relative;
  top: 0.1rem; 
} 

/*    Media Screens for Rigt side of Main     */
@media only screen and (max-width: 510px) {

  .right, .info, .info .mobile-img, .information {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }

  .info {
    flex-direction: column;
    padding-top: 1rem;
  }
  .desktop-img {
    display: none;
  }
  
  .info .mobile-img {
    display: block;
    width: 95%;
  }
  .information  {
    padding: 4rem 0 2rem 0;
  }
  .information h4, .information p, .information a {
    padding: 0 1rem 0 2rem;
  }
  .information p {
    margin: 1rem 0;
    }

  .right .info:last-child {
    background-color: hsla(360, 100%, 100%, 1);
    }

  }
/*  Courses Section */
.courses {
  align-items: center;
  background-color: hsla(198, 1%, 82%, 0.7);
}
.courses h2 {
  margin-top: 2rem;
  font-weight: 900;
}
.boxes {
  flex-wrap: wrap;
  padding: 2rem 4.5rem;
}
.box-mobile {
  display: none;
}
.box {
  width: 30%;
  margin: 1rem 1rem;
}
.box:hover {
  background-color: hsla(198, 1%, 82%, 0.7);
  border: 1px solid hsla(0, 0%, 41%, 1);
} 
.box:active {
  position: relative;
  top: 0.1rem; 
} 
.box img {
  width: 100%;
  height: auto;
}
.box-content {
  padding: 1rem 1rem 1.5rem 1rem;
  background-color: hsla(360, 100%, 100%, 1);
  justify-content: center;
  height: 6.25rem;
}
.box-content h5 {
  margin: 0.5rem 0;
}
.box-content i {
  height: 1rem;
}

/*    Media screens   */

@media only screen and (max-width: 1126px) {
  .boxes {
    justify-content: center;
  }
  .box {
    width: 25%;
  }
}
@media only screen and (max-width: 930px) {
  .box-content h4, .box-content h5, .box-content p {
    font-size: 0.9rem;
  }
  .box-content {
    padding: 0.2rem;
    height: 7.5rem;
  }

}


@media only screen and (max-width: 510px) {

  .courses {
    background-color: hsla(360, 100%, 100%, 1);
    width: 100%;
    height: auto;
  }
  .courses h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
    font-weight: 900;
  }
  .boxes {
    display: none;
  }
  .box-mobile {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0;
    margin-bottom: 2rem;
  }
  .box-mobile .box-content-mobile {
    justify-content: left;
    width: 90%;
    padding: 0;
    background-color: hsla(198, 1%, 82%, 0.7);
    margin: 0.25rem;
  }
  .box-mobile .box-content-mobile h4 {
    height: 100%;
    margin: 1rem 1rem 1.5rem 1rem;
    font-size: 2rem;
  }
}


/*    Exhibit Section  */

.exhibit h2 {
padding: 2rem 0;
align-self: center;
}
.thesis {
width: 100%;
height: 100%;
}

  /* Left Section */
.thesis-left {
width: 60%;
height: 100%;
padding: 0 1.5rem 2rem 1.5rem;
}
video {
margin: 0 1.5rem 1.5rem 1.5rem;
width: 100%;
height: auto;
align-self: center;
}
.thesis-left h3 {
margin-top: 0.5rem;
}
.thesis-left p {
padding: 1rem 2rem 0 0;
}

    /* Left Section */
.thesis-right {
width: 40%;
height: 100%;
align-self: flex-start;
margin-top: 1rem;
}
.thesis-box img {
width: 35%;
height: auto;
padding: 1rem 1rem;
}
.thesis-box:first-child {
background-color: hsla(198, 1%, 82%, 0.7);
}
.thesis-box-content {
width: 65%;
}
/*    Media Screens for Thesis    */
@media only screen and (max-width: 930px) {
  .thesis-box-content h3 {
    font-size: 1.1rem;
  }
  .thesis-box-content p {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 510px) {
  .thesis-right, .thesis-left h3, .thesis-left p {
    display: none;
  }
  .thesis-left {
    width: 100%;
    padding: 0rem;
  }
  .thesis-left video {
    margin: 0rem;

  }
}


/*    Footer  */
footer {
  height: 4rem;
  border-top: 1px solid hsla(198, 1%, 82%, 0.7);
  justify-content: space-between;
}
footer div {
  padding: 1rem 1.5rem;
}
footer div a {
  text-decoration: none;
  color: hsla(198, 0%, 43%, 1);
}
@media only screen and (max-width: 510px) {
  footer div {
    margin-top: 1.5rem;
    padding: 1rem 1rem;
  }
  .termsandprivacy {
    display: none;
  }
}

